<style type="text/css">
    .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

</style>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <!-- <h1><b>Page Not Found </b><small><font face="Tahoma" color="red">Error 404</font></small></h1> -->
          <h1>Well, this is awkward!</h1>
          <br />
          
          The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from
          <br/>
          <br/>
          <b>Or you could just press this neat little button:</b>
          <br/>
          <br/>
          <div class="col-md-8 col-md-offset-2">
          <a href="/home" class="btn btn-large btn-primary"><i class="icon-home icon-white"></i> Take Me Home</a>
          </div>
        </div>
      </div>
  </div>
</div>
