<script type="text/javascript">
  if(typeof app === 'undefined'){
    document.location.href="index.html";
  }
</script>

<div class="col-md-4 col-md-offset-4">
	<div>
		<div>
			<form angular-validator-submit="ChngPass()" class="form-horizontal"
			name="SignupForm" class="form-horizontal" novalidate angular-validator>
				<div class="panel panel-default" id="password_modal">
					<div class="panel-heading">
						<h3>Change Password <span class="extra-title muted"></span></h3>
					</div>
					<div class="col-md-6">
					</br>
				</div>
				<div class="panel-body ">

					<div class="col-md-12">
						<label><b>Current Password</b></label>

						<input class="form-control" 
						ng-model='cpass' 
						name="current_password" 
						type="password"
						validate-on="dirty" 
						required-message="'Old Password is Required'"
                    	required>
					</div>
					<div class="col-md-6">
					</br>
				</div>
				<div class="col-md-12">
					<label><b>New Password</b></label>

					<input class="form-control" 
					ng-model='npass' 
					name="new_password" 
					type="password"
					validate-on="dirty" 
                    ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                    invalid-message="'8 Chars Password Required'"
                    required-message="'This Field is Required'" required>

				</div>
				<div class="col-md-6">
				</br>
			</div>
			<div class="col-md-12">
				<label><b>Confirm Password</b></label>

				<input class="form-control" 
				ng-model='cnpass' 
				name="confirm_password" 
				type="password"
				validate-on="dirty" 
                validator = "npass === cnpass"
                ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                invalid-message="'Password Not Matching'"
                required-message="'This Field is Required'" required>

			</div>      
			<div class="col-md-6">
			</br>
		</div>
		<div class="col-md-12">
			<button  class="col-md-12 btn btn-primary btn-load btn-lg" type="submit" >Save</button>
		</div>
	</div>
</div>
</form>
</div>
</div>

</div>