
<table width="100%" cellpadding="0" class="table table-bordered">
				<tr>
					<td width="221" height="25" class="mainText2" style="WIDTH: 221px">EMPLOYER:</td>
					<td id="tdEr" width="807" height="25"><b>{{ user.coname }}</b></td>

				</tr>
				<br/>
				<tr>
					<td height="25" class="mainText2" style="WIDTH: 221px">PLEASE CONFIRM THAT YOU ARE:</td>
					<td id="tdEe" height="25"><b>{{ user.name }}</b></td>

				</tr>
				<br/>
				<tr>
					<td style="WIDTH: 221px">&nbsp;</td>
					<td height="25" class="mainText2">If any of this information is incorrect, please 
						log out immediately</td>
				</tr>
				<br/>
				<!--<tr>
					<td width="12">&nbsp;</td>
					<td style="WIDTH: 221px">&nbsp;</td>
					<td>&nbsp;</td>
				</tr>-->
				<tr id="TandC">
	
	<td width="221" height="25" class="mainText2" style="WIDTH: 221px">
						<a href="/tandc" target="_blank">TERMS AND CONDITIONS:</a></td>
	<td height="25" class="mainText2">Please read the <a href="/tandc" target="_blank">
							Terms and Conditions</a> for the myPay site. If you do not agree to 
						these terms and conditions, please log out immediately</td>
</tr>
<br/>
				<tr>
					
					<td style="width:221px;vertical-align:top;" class="mainText2" >
						DATA PROTECTION ACT</td>
					<td class="mainText2">Access to this myPay service is provided for 
                        under an Agreement between Corient Business Solutions Limited and &quot;our Customer&quot; 
                        (who will either be your Employer or your Employer&#39;s Payroll Service Provider). 
                        Under this Agreement Corient Business Solutions Limited may be processing information about Data Subjects on 
                        our Customer&#39;s behalf and thus act as a “Data Processor” for the purposes of the 
                        Data Protection Act 1998. In these circumstances, Corient Business Solutions Limited will (i) only process 
                        personal data in accordance with our Customer&#39;s lawful and reasonable 
                        instructions, ensuring its own compliance with the Data Protection Act 1998; and 
                        (ii) comply with security obligations equivalent to those imposed on our 
                        Customer, as Data Controller, by the seventh principle of that Act. Corient Business Solutions Limited hereby 
                        confirms that it is a Registered Data Controller under the Data Protection Act 
                        1998.</td>
				</tr>
				
			</table>
			<a href="/ulogout" class="btn btn-danger">Logout</a>
			<button type="submit" ng-click="confirm()" class="btn btn-success">I Confirm</button>