<style type="text/css">
    html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    padding-bottom: 4%;
}
.hidden {
    display: none;
}
.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}
.panel.panel-default {
    max-width: 40%;
    width: 100%;
    margin: 0 auto;
}
.message {
    padding: 15px; 
    margin: 0;
}
    
</style>
 <div class="vertical-middle">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><h1>Contact Us</h1></h2>
                </div>
                <div ng-controller="ContactController" class="panel-body">
                    <form angular-validator-submit="submit()" name="contactform"  class="form-horizontal" novalidate angular-validator>
                        <div class="form-group">
                            <label for="inputName" class="col-lg-2">Name</label>
                            <div class="col-lg-10">
                                <input ng-model="formData.name" 
                    type="text" 
                    class="form-control" 
                    id="inputName" 
                    name="inputName" 
                    placeholder="Your Name" 
                    validate-on="dirty" 
                    ng-pattern="/^[a-zA-Z0-9 .,]*$/"
                    invalid-message="'Cannot Accept this Name'"
                    required-message="'This Field is Required'"
                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2">Email</label>
                            <div class="col-lg-10">
                                <input ng-model="formData.email" 
                    type="email" 
                    class="form-control" 
                    id="inputEmail" 
                    name="inputEmail" 
                    placeholder="Your Email" 
                    validate-on="dirty" 
                    invalid-message="'Invalid Email Id'"
                    required-message="'This Field is Required'"
                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2">Type</label>
                            <div class="col-lg-10">
                            <Select class="form-control" 
                            name="clname"
                            ng-model="formData.type" 
                            validate-on="dirty" 
                            required-message="'This Field is Required'"
                            required>
                            <option value = "">Select Type</option>
                            <option value = "suggestion">Suggestion</option>
                            <option value = "feedback">Feedback</option>
                            <option value = "enquiry">Enquiry</option>
                            </Select>
                                <!-- <input ng-model="formData.email" 
                    type="email" 
                    class="form-control" 
                    id="inputEmail" 
                    name="inputEmail" 
                    placeholder="Your Email" 
                    validate-on="dirty" 
                    invalid-message="'Invalid Email Id'"
                    required-message="'This Field is Required'"
                    required> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSubject" class="col-lg-2">Subject</label>
                            <div class="col-lg-10">
                                <input ng-model="formData.subject" 
                    type="text" 
                    class="form-control" 
                    id="inputSubject" 
                    name="inputSubject" 
                    placeholder="Subject Message" 
                    validate-on="dirty" 
                    ng-pattern="/^[a-zA-Z0-9 .,]*$/"
                    invalid-message="'Cannot Accept this Subject'"
                    required-message="'This Field is Required'"
                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputMessage" class="col-lg-2">Message</label>
                            <div class="col-lg-10">
                                <textarea ng-model="formData.message" 
                    style="resize:none"
                    class="form-control" 
                    rows="4" 
                    id="inputMessage" 
                    name="inputMessage" 
                    placeholder="Your message..." 
                    validate-on="dirty" 
                    ng-pattern="/^[\s\S]{10,100}$/"
                    invalid-message="'Message is too Small'"
                    required-message="'This Field is Required'" 
                    required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>