<script type="text/javascript">
  if(typeof app === 'undefined'){
    document.location.href="index.html";
  }
</script>
<div id="login">
  <div class="col-md-8 col-md-offset-2">
    <form angular-validator-submit="signupuser()" name="SignupForm" class="form-horizontal" novalidate angular-validator>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h1>Sign Up</h1>
        </div>
      <div class="panel-body">

        <div class="col-md-6">
            <label><b>Company Code<span>*</span></b></label>
            <input  class="form-control" 
                    type="text" 
                    name="ccode"  
                    ng-model="credentials.ccode" 
                    validate-on="dirty" 
                    ng-pattern="/^[0-9]{1,10}$/"
                    invalid-message="'Invalid Company Code'"
                    required-message="'This Field is Required'"
                    required/>
            </div>

            <div class="col-md-6">
            <label><b>Emp Reference No<span>*</span></b></label>
            <input  class="form-control" 
                    type="text" 
                    name="empref" 
                    ng-model="credentials.empref" 
                    validate-on="dirty" 
                    ng-pattern="/^[0-9]{1,10}$/"
                    invalid-message="'Invalid Emp Reference Number'"
                    required-message="'This Field is Required'"
                    required/>
            </div>
<div class="col-md-6">
                                        </br>
                                        </div>
                                        <div class="col-md-6">
                                        </br>
                                        </div>
            <div class="col-md-6">
            <label><b>Ni Number<span>*</span></b></label>
            <input  class="form-control" 
                    type="text" 
                    name="ninumber" 
                    ng-model="credentials.ninumber"
                    validate-on="dirty" 
                    ng-pattern="/^([A-CEGHJ-PR-TW-Z]){1}([A-CEGHJ-NPR-TW-Z]){1}([0-9]){2}([0-9]){2}([0-9]){2}([A-D ]){1}?$/"
                    invalid-message="'Invalid NI Number (Case Sensitive)'"
                    required-message="'This Field is Required'" 
                    required/>
            </div>

            <div class="col-md-6">
            <label><b>Latest Salary Amt. Credited to Bank A/c (999.99)<span>*</span></b></label>
            <input  class="form-control" 
                    type="text" 
                    name="lsalary" 
                    ng-model="credentials.lsalary" 
                    validate-on="dirty" 
                    ng-pattern="/^[0-9]{1,10}([.][0-9]{1,2})?$/"
                    invalid-message="'Salary Amount not valid'"
                    required-message="'This Field is Required'"
                    required/>
            </div>
<div class="col-md-6">
                                        </br>
                                        </div>
                                        <div class="col-md-6">
                                        </br>
                                        </div>
            <!-- <div class="col-xs-6">
            <label>Password<span>*</span></label>
            <input  class="form-control" 
                    type="password" 
                    name="password" 
                    ng-model="credentials.password" 
                    required/>
            </div> -->



<div class="col-md-6">
            <label><b>Password<span>*</span></b></label>

                                <input  class="form-control" 
                                        type="password" 
                                        name="password" 
                                        ng-model="credentials.password" 
                                        validate-on="dirty" 
                                        ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                        invalid-message="'8 Chars Password Required'"
                                        required-message="'This Field is Required'"
                                        required/>

                                        </div>
                                        <div class="col-md-6">
            <label><b>Confirm Password<span>*</span></b></label>

                                <input  class="form-control" 
                                        type="password" 
                                        name="cpassword" 
                                        ng-model="credentials.cpassword" 
                                        validate-on="dirty" 
                                        validator = "credentials.password === credentials.cpassword"
                                        ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                        invalid-message="'Password Not Matching'"
                                        required-message="'This Field is Required'"
                                        required/>

                                        </div>
<div class="col-md-6">
                                        </br>
                                        </div>
                                        <div class="col-md-6">
                                        </br>
                                        </div>

            <div class="col-md-6">
            <label><b>Full Name<span>*</span></b></label>
            <input  class="form-control" 
                    type="text" 
                    name="fname" 
                    ng-model="credentials.fname" 
                    validate-on="dirty" 
                    ng-pattern="/^[a-zA-Z0-9 .,]*$/"
                    invalid-message="'Cannot Accept this Name'"
                    required-message="'This Field is Required'"
                    required/>
            </div>



<div class="col-md-6">
            <label><b>Email Address</b></label>
            <input  class="form-control" 
                    type="email" 
                    name="email" 
                    ng-model="credentials.email"
                    validate-on="dirty" 
                    invalid-message="'Invalid Email Id'"
                    required-message="'This Field is Required'"
                    required/>
            </div>
            
<div class="col-md-6">
                                        </br>
                                        </div>
                                        <div class="col-md-6">
                                        </br>
                                        </div>
            


            <div class="col-md-6">
            <label><b>Postal Code<span>*</span></b></label>
            <input  class="form-control" 
                    type="text" 
                    name="pcode" 
                    ng-model="credentials.pcode" 
                    validate-on="dirty" 
                    ng-pattern="/^[a-zA-Z0-9 ]{6,10}$/"
                    invalid-message="'Enter Valid Postal Code'"
                    required-message="'This Field is Required'"
                    required/>
            </div>
            <div class="col-md-6">
            <label><b>Address<span>*</span></b></label>
            <textarea   style="resize:none" 
                        class="form-control" 
                        type="text" 
                        name="address" 
                        ng-model="credentials.address"
                        validate-on="dirty" 
                        ng-pattern="/^[\s\S]{10,100}$/"
                        invalid-message="'Address is too Small'"
                        required-message="'This Field is Required'" 
                        required/>
            </div>
            
<div class="col-md-6">
                                        </br>
                                        </div>
                                        <div class="col-md-6">
                                        </br>
                                        </div>
            <div class="col-md-6">
            <label><b>Contact No.</b></label>
            <input  class="form-control" 
                    type="text" 
                    name="cnumber" 
                    ng-model="credentials.cnumber"
                    validate-on="dirty" 
                    ng-pattern="/^[0-9]{10,20}$/"
                    invalid-message="'Invalid Number'"
                    required-message="'This Field is Required'"
                     />
            </div>
          <div class="col-md-6" style="padding:19px;">
          <label></label>
          <div class="pull-right">
          <button type="submit" class="btn btn-success">Save</button>
          <button  class="btn btn-danger" type="button" ng-click="ResetFrm()" >Reset</button>
          </div>
        </div>
            
          </div>
          </div>
      </form>
      </div>
</div>