<script type="text/javascript">
  if(typeof app === 'undefined'){
    document.location.href="index.html";
  }
</script>
<br/>
<div>
<script type="text/ng-template" id="btnclick">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="cursor:pointer;font-size:15px;" class="glyphicon glyphicon-refresh" ng-click="DeactUser(item.id,item.status)" data-target="#ShowPDF">
            
        </span>

  </script>
  <script type="text/ng-template" id="btnStatus">
&nbsp;&nbsp;
        <span style="font-size:15px;">
    <i class="glyphicon glyphicon-ok" ng-if="item.status == 1"></i>
    <i class="glyphicon glyphicon-remove" ng-if="item.status == 0"></i>
</span>

  </script>

  <script type="text/ng-template" id="btnResetPass">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size:15px;cursor:pointer;" ng-click="ResetPass(item)">
    <i class="glyphicon glyphicon-repeat"></i>
    </span>

  </script>
<!--  <p class="text-muted">
  
  </p>
<div class="form-group">
<button class="btn btn-success btn-small" ng-click="AddCl()" data-target="#ShowPDF">
            Add Client
        </button>
</div> -->
<table width="100%"><tr>
        <td>
            <input  type="text" ng-model="searchText" ng-change="search()" class="form-control" placeholder = "Awesome Search"   >
        </td></tr></table> 
<div class="text-center" ng-show="loading">
<br><i class="fa fa-refresh fa-2x fa-spin"></i></div>
<div class="form-group" ng-if="!loading">
<ad-table-lite table-name="carsForSale"
                 column-definition="carsTableColumnDefinition"
                 local-data-source="getdata"
                 page-sizes="[8, 15, 30]"
                 pagination-btn-group-classes="btn-group btn-group-sm"
                 table-classes="table table-bordered"
                 items-not-found-message="Records Not Found">
  </ad-table-lite>
</div>
</div>