<script type="text/javascript">
  if(typeof app === 'undefined'){
    document.location.href="index.html";
  }
</script>
<style type="text/css">
  .centerscreen{
    position:fixed;
    top:40%;
}
</style>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id="home" class="row">
  <div class="col-md-12 col-md-offset-1">
  <!-- <button class="btn btn-primary"><h1 class="">Welcome {{ user.name.charAt(0).toUpperCase() + user.name.slice(1) }}</h1><button> -->
  <label>
            <h1>Welcome {{ user.name.charAt(0).toUpperCase() + user.name.slice(1) }}</h1>
        </label>
<br/>
        <div style="width:80%">
        
<b>myPay</b> is a self service payslip facility that enables employees to access their <b>payslips</b> and <b>P60</b> directly from a secure web site, thereby reducing costs and offering the highest level of service <b>24 hours a day, 365 days a year</b>.

</div>
            
        <!-- <button class="btn btn-primary" ng-click="PSView(item,true)">
            <h1>Welcome {{ user.name.charAt(0).toUpperCase() + user.name.slice(1) }}</h1>
        </button> -->
    <!-- <h2>Welcome to the {{ title }} page!</h2>

    <div class="alert alert-warning">{{ message }}</div>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-danger" ng-click="logout()">Log Out</button>
        <button class="btn btn-primary" ng-click="test()">Test</button>
        {{ TestArea }} <br>
        <button class="btn btn-primary" ng-click="test1()">Test2</button>
        {{ TestArea2 }} <br>
        <a href="#/home">Click Here</a>
      </div>
    </div>
    <div class="col-lg-12 ">
      <div class="col-lg-6">
        <img src="img/demo1.jpg" shows-message-when-hovered message="Im the first house.">
      </div>
      <div class="col-lg-6">
        <img src="img/demo2.jpg" shows-message-when-hovered message="Im the second house.">
      </div>
    </div> -->

    
  </div>
</div>