<script type="text/javascript">
  if(typeof app === 'undefined'){
    document.location.href="index.html";
  }
</script>
<br/>
<br/>
<br/>
<div id="login">
  <div class="col-md-4 col-md-offset-4">
    <!-- <form ng-submit="login()" class="form"> -->
    <form angular-validator-submit="login()" name="SignupForm" class="form-horizontal" novalidate angular-validator>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h1>Sign In</h1>
        </div>
      <div class="panel-body">
          <div class="col-md-12">
          <label><b>Company Code</b></label>
            <input  class="form-control" 
                    type="text" 
                    name="ccode" 
                    ng-model="credentials.ccode" 
                    ng-pattern="/^[0-9]{1,10}$/"
                    invalid-message="'Invalid Company Code'"
                    required-message="'Company Code is Required'"
                    required/>
            </div>
            <div class="col-md-12">
          <label><b>User Id / Emp Ref.</b></label>
            <input  class="form-control" 
                    type="text" 
                    name="email" 
                    ng-model="credentials.email" 
                    ng-pattern="/^(?:(?:[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*)|\d+)$/i"
                    invalid-message="'Invalid User Name'"
                    required-message="'User Name is Required'"
                    required/>
            </div>
            <div class="col-md-12">
            <label><b>Password</b></label>
            <input  class="form-control" 
                    type="password" 
                    name="password" 
                    ng-model="credentials.password" 
                    required-message="'Password is Required'"
                    required/>
          </div>
        <div class="col-md-12">
          <br>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">Log In</button>
        

      <!-- <div>
        <p>
          <a href="#">Forgot password?</a>
        </p>
      </div> -->
      <div>
        <p>
          <a href="/createuser">Haven't registered yet? Sign Up</a>
          <a href="/forgotpass">Forgot Password?</a>
        </p>
      </div>
      </div>
      </div>
      </div>
          
          </form>
        
      </div>

</div>
