<p class="homeText" align="center" style="text-align: center">
							<b><span lang="EN-GB" style="font-size:10.0pt">Privacy Policy for use of Website: mypay.corientbs.co.uk</span></b></p>
							<p class="homeText" style="text-align:justify">
							Corient Business Solutions Limited is committed to ensuring that your 
							privacy is protected.&nbsp; This Privacy Policy explains 
							how we use the information we collect about you and 
							procedures we have in place to safeguard your 
							privacy.<br>
							In this Privacy Policy references to we, us and our are to 
							Corient Business Solutions Limited.&nbsp; References to the Website are to mypay.corientbs.co.uk</span></p>
							<table border="0" width="100%" id="table1">
								<tr class="homeText">
									<td width="59">1.</td>
									<td><span class="homeText"><STRONG>What Information we Collect</STRONG></span></td>
								</tr>
								<tr class="homeText">
									<td width="59">&nbsp;</td>
									<td>The information we collect via the Website may include:</td>
								</tr>
								<tr class="homeText">
									<td width="59">1.1</td>
									<td>Your IP address, your log on credentials and any changes you make to your Password.</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>1.2</td>
									<td style="text-align:justify">The Website uses cookies to enable secure access to payslips.  A cookie is a small piece of data that the 
									Website transfers to the users hard drive.  It contains simple information about the users identity but no personal information from which a living individual can be identified.</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>2.</td>
									<td><b>How we protect your Information</b></td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>2.1</td>
									<td>The internet is not a secure medium.  However, we have put in place recommended up to date security measures and will review these and keep them updated regularly. We shall ensure that the Website is operating at all times with industry standard hardware and software in relation to all security issues.</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>2.2</td>
									<td style="text-align:justify">Subject to the terms of this Privacy Policy, we keep your information confidential and will not pass it to any third party in accordance with the terms of this Privacy Policy.
									<!-- <a href="http://www.starplc.com">www.starplc.com</a> -->
									</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>3.</td>
									<td><b>What we do with your Information</b></td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>&nbsp;</td>
									<td valign=top>Any personal information we collect from the Website we use for some or all of the following purposes:</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>3.1</td>
									<td>To process your registration and to provide continued service.</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>3.2</td>
									<td  style="text-align:justify">We may use 
									aggregated information for the purpose of 
									monitoring use of the Website.</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>5.</td>
									<td><b>How to Contact Us</b></td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>&nbsp;</td>
									<td style="text-align:justify">We welcome your views about the Website and our Privacy Policy. If you would like to contact us with queries or comments please send an email to <a href="mailto:vishal@corientbs.com">vishal@corientbs.com</a>.</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>6.</td>
									<td><b>Your Consent</b></td>
								</tr>
								<tr class="homeText">
									<td width="59" valign=top>6.1</td>
									<td style="text-align:justify">By submitting your information on the Website, you consent to the use of that information as set out in this Privacy Policy.</td>
									<!--   Changes in Privacy Policy are notified by displaying the date of the last change made on the 
									'Confirm Who' page that displays after the 'Login' page. If we change the Privacy Policy we will post the changes on this page and simultaneously, if not beforehand, notify you of such changes on the 
									'Confirm Who' page that displays after the 'Login' page, which notification shall remain visible thereon for a minimum period of 2 months thereafter.  The changes having been made and duly notified, your continued use of the Website will be considered acceptance of them. -->
								</tr>
								
							</table>