<p class="homeText" align="center" style="text-align: center">
							<b><span lang="EN-GB" style="font-size:10.0pt">Terms and Conditions for use of Website: mypay.corientbs.co.uk</span></b></p>
                          <p class="homeText" align=justify>In these Terms and Conditions we, our or us refers to Corient Business Solutions Limited as proprietors of the 
							Website mypay.corientbs.co.uk</p>
                          
                          <table border="0" width="100%" id="table1">
							<tr class="homeText" align=justify>
								<td width="79">1.</td>
								<td><b>Acceptance of Terms</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>1.1</td>
								<td>By accessing http://mypay.corientbs.co.uk/ you agree to be bound by these Terms and Conditions and accept our Privacy Policy set out elsewhere on the Website.  If you do not accept these terms you should not use the services offered on the Website and should leave immediately.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>1.2</td>
								<td>You agree that you will not use the Website for any illegal purpose or in any way that may impair the performance, corrupt the content or otherwise reduce the functionality of the Website.  You also agree not to attempt to compromise the security of the Website or attempt to gain access to secured areas or sensitive information.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>1.3</td>
								<td>You agree to be fully responsible for any 
								claim, loss or damage including legal fees 
								incurred by us arising from any infringements of 
								these Terms and Conditions that may be directly attributable to your use of the Website.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>2.</td>
								<td><b>Privacy</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>You acknowledge and agree to be bound by the terms of our 
								Privacy Policy found on the Website.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>3.</td>
								<td><b>
								<span lang="EN-GB" style="font-size: 10.0pt; font-family: Arial">
								Permitted Use</span></b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>3.1</td>
								<td><b>Employers</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>Employers visiting the Website will be entitled with proper log in credentials and Password to obtain access to payslips relating to employees employed by their organisation only.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>3.2</td>
								<td><b>Employees</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>Employees will be entitled with proper log in credentials and Password to access their own payslips only.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>3.3</td>
								<td>Access to payslips will only be available once these are posted by the relevant employer; payslips will be available for up to one year from the date of posting.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>3.4</td>
								<td>Except for employers in respect of downloading payslip information, no user is entitled to add, input or vary any information displayed upon the Website.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>3.5</td>
								<td>You may link to the home page or the log in 
								page on the Website.  However, we do not permit pages to be loaded into frames; Pages from mypay.corientbs.co.uk must load in to the users entire window.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>4.</td>
								<td><b>Copyright</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>4.1</td>
								<td>All intellectual property rights of mypay.corientbs.co.uk and intellectual property rights relating to the Website are and will remain owned by Corient Business Solutions Limited.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>4.2</td>
								<td>In using the Website you agree to respect the intellectual property rights of Corient Business Solutions Limited.  You will not copy, download, transmit, reproduce, print or exploit for commercial purposes any material contained within the Website.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>5</td>
								<td><b>Modification</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>5.1</td>
								<td>We reserve the right to change these Website terms without notice.
								<!--  However, we will simultaneously, if not beforehand, notify you of such changes on the 
								'Confirm Who' page that displays after the &#8216;Login&#8217; page. The change in terms having been made and duly notified, your continued use of the Website will be considered acceptance of them.  You are advised to check the Website terms regularly. -->
								</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>5.2</td>
								<td>We may from time to time carry out scheduled maintenance to the Website.  We will notify you of any such maintenance, either by email or prominent notice on the homepage of the Website, at least seven days in advance.</td>
							</tr>

							<tr class="homeText" align=justify>
								<td width="79" valign=top>5.3</td>
								<td>
								In the event that any errors or bugs within the Website are found, we agree to fix these as soon as reasonably practicable and in any event.
								</td>
							</tr>
							
							
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>6.</td>
								<td><b>Disclaimer and Limitation of Liability</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>6.1</td>
								<td>We make every effort to check and test 
								material for viruses. However, it is recommended 
								that you run an anti-virus programme on all 
								material downloaded from the internet. We cannot 
								accept any responsibility for any loss, 
								disruption or damage to your data or your 
								computer system which may occur whilst you are 
								using material derived from the 
								Website.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>6.2</td>
								<td>Corient Business Solutions Limited takes no responsibility for any discrepancy or inaccuracy in the information displayed.  All information is provided solely by employers who upload such information to the Website.</td>
							</tr>
							<!-- <tr class="homeText" align=justify>
								<td width="79" valign=top>5.3</td>
								<td>Corient Business Solutions Private Limited will not be liable to you for any direct, indirect, special or consequential damages including loss of business, revenue, profits, data or anticipated savings in relation to your use of the Website, save as provided by 
								Clause 5.4.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>5.4</td>
								<td>Nothing in these Terms and Conditions will limit any rights you may have as a consumer but which may not be excluded.  Nor will they in any way exclude or limit our liability to you for death, 
								fraudulent misrepresentation or personal injury resulting from our negligence.</td>
							</tr> -->
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>7.</td>
								<td><b>Invalidity</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>If any part of these Terms and Conditions is unenforceable (including any provision in which we exclude our liability to you) the enforceability of any other part of these conditions will not be affected.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>8.</td>
								<td><b>Governing Law</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>The contract in relation to your use of the Website shall be governed by and interpreted in accordance with English law and English Courts shall have jurisdiction to resolve any disputes.</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>9.</td>
								<td><b>Third Parties</b></td>
							</tr>
							<tr class="homeText" align=justify>
								<td width="79" valign=top>&nbsp;</td>
								<td>The Website may contain hyperlinks to websites operated by other parties.  We do not control such websites and take no responsibility for their content.  The inclusion of hyperlinks to such websites does not imply any endorsement of views or information contained on such websites.</td>
							</tr>
							</table>