<script type="text/javascript">
  if(typeof app === 'undefined'){
    document.location.href="index.html";
  }
</script>
<br/>
<div>
<script type="text/ng-template" id="btnclick">
&nbsp;
        <span style="cursor:pointer;font-size:15px;" class="glyphicon glyphicon-edit" ng-click="EditCl(item)" data-target="#ShowPDF">
            
        </span>

  </script>
  <script type="text/ng-template" id="btnStatus">
&nbsp;&nbsp;
        <span style="font-size:15px;">
    <i class="glyphicon glyphicon-ok" ng-if="item.status == 1"></i>
    <i class="glyphicon glyphicon-remove" ng-if="item.status == 0"></i>
</span>

  </script>

  <script type="text/ng-template" id="btnResetPass">
&nbsp;&nbsp;
        <span style="font-size:15px;cursor:pointer;" ng-click="ResetPass(item)">
    <i class="glyphicon glyphicon-repeat"></i>
    </span>

  </script>
 <p class="text-muted">
  
  </p>
<!-- <div class="form-group">
<button class="btn btn-success btn-small" ng-click="AddCl()" data-target="#ShowPDF">
            Add Client
        </button>
        <td>
            <input  type="text" ng-model="searchText" ng-change="search()" class="form-control" placeholder = "Awesome Search"   >
        </td>
</div> -->
<table width="100%"><tr>
        <td width="40%"><button class="btn btn-success btn-small" ng-click="AddCl()" data-target="#ShowPDF">
            Add Client
        </button></td>
        <td>
            <input  type="text" ng-model="searchText" ng-change="search()" class="form-control" placeholder = "Awesome Search"   >
        </td></tr></table>  
    <br>
<div class="text-center" ng-show="loading">
<br><i class="fa fa-refresh fa-2x fa-spin"></i></div>
<div ng-if="!loading" class="form-group">
<ad-table-lite  table-name="carsForSale"
                column-definition="carsTableColumnDefinition"
                local-data-source="getdata"
                page-sizes="[8, 15, 30]"
                pagination-btn-group-classes="btn-group btn-group-sm"
                table-classes="table table-bordered"
                items-not-found-message="Records Not Found">
  </ad-table-lite>
</div>
<div class="row" >
<!-- style="max-height: 75%;overflow:hidden;width: 80%;margin-left:-40%;" -->
  <div class="modal fade" ng-style="ModalStyle"  ak-modal modal-visible="showModal" id="ShowPDF"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form angular-validator-submit="signupclient(FormTitleText)" name="SignupForm" class="form-horizontal" novalidate angular-validator>
    <div class="modal-header">
                        <button type="button" class="close" ng-click="ClsModal()"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                        <h1 class="modal-title" id="myModalLabel">{{FormTitleText}}</h1>
                      </div>
        <div class="panel panel-default">
        
      <div class="panel-body">
      
      <div class="col-md-6">
            <label><b>User Id / Email Address<span>*</span></b></label>

                                <input  class="form-control" 
                                        type="email" 
                                        name="email"
                                        ng-disabled="emaildisabled"
                                        ng-model="credentials.email" 
                                        validate-on="dirty" 
                                        invalid-message="'Invalid Email Id'"
                                        required-message="'This Field is Required'"
                                        required/>

                                        </div>
                                        <div class="col-md-6">
            <label><b>Full Name<span>*</span></b></label>

                                <input  class="form-control" 
                                        type="text" 
                                        name="fname" 
                                        ng-model="credentials.fname" 
                                        validate-on="dirty" 
                                        ng-pattern="/^[a-zA-Z0-9 ]*$/"
                                        invalid-message="'Cannot Accept this Name'"
                                        required-message="'This Field is Required'"
                                        required/>

                                        </div>
                                        <div class="col-md-6">
                                        </br>
                                        </div>
                                        <div class="col-md-6">
                                        </br>
                                        </div>
                                        <!-- <div class="col-xs-6">
            <label><b>Password<span>*</span></b></label>

                                <input  class="form-control" 
                                        type="password" 
                                        name="password" 
                                        ng-disabled="pfielddisabled"
                                        ng-model="credentials.password" 
                                        validate-on="dirty" 
                                        ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                        invalid-message="'8 Chars Password Required'"
                                        required-message="'This Field is Required'"
                                        ng-required="!pfielddisabled"
                                        />

                                        </div>
                                        

                                        <div class="col-xs-6">
            <label><b>Confirm Password<span>*</span></b></label>

                                <input  class="form-control" 
                                        type="password" 
                                        name="cpassword" 
                                        ng-disabled="pfielddisabled"
                                        ng-model="credentials.cpassword" 
                                        validate-on="dirty" 
                                        validator = "credentials.password === credentials.cpassword"
                                        ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                        invalid-message="'Password Not Matching'"
                                        required-message="'This Field is Required'"
                                        ng-required="!pfielddisabled"
                                        />

                                        </div>

                                        <div class="col-xs-6">
                                        </br>
                                        </div>
                                        <div class="col-xs-6">
                                        </br>
                                        </div> -->

                                        <div class="col-md-6">
            <label><b>Company Name<span>*</span></b></label>
                              <input    class="form-control" 
                                        type="text" 
                                        name="coname" 
                                        ng-model="credentials.coname" 
                                        validate-on="dirty" 
                                        ng-pattern="/^[\s\S]{5,50}$/"
                                        invalid-message="'Invalid Company Name'"
                                        required-message="'This Field is Required'"
                                        required/>

                                        </div>
                                        

                                        
                                        <div class="col-md-6">
            <label><b>Address<span>*</span></b></label>
                            <textarea   style="resize:none" 
                                        class="form-control" 
                                        type="text" 
                                        name="address" 
                                        ng-model="credentials.address"
                                        validate-on="dirty" 
                                        ng-pattern="/^[\s\S]{10,100}$/"
                                        invalid-message="'Enter Valid Address'"
                                        required-message="'This Field is Required'"
                                        required/>

                                        </div>
                                        <div class="col-md-6">
                                        </br>
                                        </div>
                                        <div class="col-md-6">
                                        </br>
                                        </div>
                                        <div class="col-md-6">
            <label><b>Contact No.<span>*</span></b></label>
                            <input      class="form-control" 
                                        type="text" 
                                        name="cnumber" 
                                        ng-model="credentials.cnumber" 
                                        validate-on="dirty" 
                                        ng-pattern="/^[0-9]{10,20}$/"
                                        invalid-message="'Invalid Number'"
                                        required-message="'This Field is Required'"
                                        required/>
                                        
          </div>
          <div class="col-md-6">
            <label><b>Postal Code<span>*</span></b></label>
                            <input      class="form-control" 
                                        type="text" 
                                        name="pcode" 
                                        ng-model="credentials.pcode" 
                                        validate-on="dirty" 
                                        ng-pattern="/^[a-zA-Z0-9 ]{6,10}$/"
                                        invalid-message="'Enter Valid Postal Code'"
                                        required-message="'This Field is Required'"
                                        required/>

                                        </div>
                                        
          <div ng-hide="FormTitleText == 'Add Client'" class="control-group pull-left" 
          style="padding:15px;">
          <p>
          <button type="button" ng-disabled="credentials.id == user.id" ng-click="DeactUser(credentials.id,deactstr)" class="btn btn-warning">{{ deactstr }}</button>
        </div>
        <div class="control-group pull-right" style="padding:15px;">
        <p>
          <button type="submit" class="btn btn-success">Save</button>
          <button  class="btn btn-danger" type="button" ng-click="ClsModal()" >Close</button>
        </div>
          </div>
          </div>
      </form>
        
</div>
</div>
</div>