<script type="text/javascript">
  if(typeof app === 'undefined'){
    document.location.href="index.html";
  }
</script>
<br/>
<div>
<script type="text/ng-template" id="btnclickpay">
        
        <button class="btn btn-small btn-primary" ng-click="PSView(item,true)">
            View
        </button>
  </script>
  <script type="text/ng-template" id="btnclickp60">
        
        <button class="btn btn-small btn-primary" ng-click="P60View(item,true)">
            View
        </button>
  </script>
  <script type="text/ng-template" id="btnclickp32">
        
        <button class="btn btn-small btn-primary" ng-click="P32View(item,true)">
            View
        </button>
  </script>
  <!-- <button class="btn btn-primary btn-small" ng-click="PSView(item,false)" data-toggle="modal" data-target="#ShowPDF">
            View
        </button> -->
 <p class="text-muted">
    <!-- Cars Selected: <span class="badge" ng-bind="models.selectedCars.length"></span> -->
  </p>
  <!-- ========== Usage ========== -->
 <div class="form-group">
 <tabset justified="true">
    <tab select="selectedpayslip()">
    <tab-heading>
    <div>
        Payslips
        </div>
      </tab-heading>
<div ng-show="showdrpdwn">


<table width="100%"><tr>
        <td width="40%">
          <label class="col-md-4 control-label">Select Employee</label>
    <select ng-change="selectchng(true)" ng-model="drpdown.empidpay" >
      <option value="">-- Select --</option>
      <option value="{{emp.emp_ref}}" ng-repeat="emp in emps">{{emp.name}}</option>
      <option value="allemployee">-- All --</option>
    </select>
        </td>
        <td>
            <label class="col-md-3 control-label">Select Pay Run</label>
    <select ng-change="selectchng()" ng-model="drpdown.payrun" >
      <option value="">-- Select --</option>
      <option value="{{payrun.Payslip_Date}}" ng-repeat="payrun in payruns">{{payrun.Payslip_Date | date: "dd/MM/yyyy" }}</option>
      <option value="all">-- All --</option>
    </select>
        </td></tr></table>

    

<br/>
</div>
<div ng-if="!loading" style="width: 95%;margin: auto;">
<ad-table-lite table-name="paystable"
                 column-definition="paysTableColumnDefinition"
                 local-data-source="getdata"
                 page-sizes="[8, 15, 30]"
                 pagination-btn-group-classes="btn-group btn-group-sm"
                 table-classes="table table-bordered"
                 items-not-found-message="Records Not Found">
  </ad-table-lite>
</div>
    </tab>
    <tab select="selectedp60()">
    <tab-heading>
        P60
      </tab-heading>
<div ng-show="showdrpdwn">

    <label class="col-sm-2 control-label">Select Employee</label>
    <select ng-change="selectchngp60()" ng-model="drpdown.empidp60">
      <option value="">-- Select --</option>
      <option value="{{emp.emp_ref}}" ng-repeat="emp in emps">{{emp.name}}</option>
      <option value="allemployee">-- All --</option>
    </select>

<br/>
</div>
<div ng-if="!loading" style="width: 95%;margin: auto;">
<ad-table-lite table-name="p60table"
                 column-definition="p60TableColumnDefinition"
                 local-data-source="getdata"
                 page-sizes="[8, 15, 30]"
                 pagination-btn-group-classes="btn-group btn-group-sm"
                 table-classes="table table-bordered"
                 items-not-found-message="Records Not Found">
  </ad-table-lite>
</div>
    </tab>
    <tab  ng-show="user.role == 'CL1'" select="selectedp32()">
    <tab-heading>
        P32
      </tab-heading>
<!-- <div ng-show="showdrpdwn">

    <label class="col-sm-2 control-label">Select Employee</label>
    <select ng-change="selectchngp32()" ng-model="drpdown.empidp60">
      <option value="">-- Select --</option>
      <option value="{{emp.emp_ref}}" ng-repeat="emp in emps">{{emp.name}}</option>
      <option value="allemployee">-- All --</option>
    </select>

<br/>
</div> -->
<div ng-if="!loading" style="width: 95%;margin: auto;">
<ad-table-lite table-name="p32table"
                 column-definition="p32TableColumnDefinition"
                 local-data-source="getdata"
                 page-sizes="[8, 15, 30]"
                 pagination-btn-group-classes="btn-group btn-group-sm"
                 table-classes="table table-bordered"
                 items-not-found-message="Records Not Found">
  </ad-table-lite>
</div>
    </tab>
  </tabset>
</div>
<div class="row" >
  <div class="modal fade" style="height: 100%;width: 80%;margin-left:-40%;" id="ShowPDF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- <form class="form" method="POST" ng-submit="saveUser()"> -->
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">View Payslip</h4>
              </div>
                <div class="modal-body">
                <div>
                
                <iframe src="{{PDFPath}}" style="width: 100%;height: 500px;" ></iframe>
                </div>
              <!-- <div class="col-md-4">
                  <div class="form-group">
                    <label for="fname">First Name</label>
                    <input id="fname" type="text" class="form-control" ng-model="usr.userid" required>
                  </div>
                  <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input id="lname" type="text" class="form-control" ng-model="usr.name" required>
                  </div>
                  <div class="form-group">
                    <label for="utype">User Type</label>
                    <select id="utype" class="form-control" ng-model="usr.role" required>
                      <option value="">Select</option>
                      <option value="UL1">Admin</option>
                      <option value="UL2">Staff</option>
                      <option value="CL1">Client</option>
                      <option value="CL2">End Client</option>
                    </select>
                  </div>
              </div> -->
             <!--  <div class="col-md-6 col-md-push-1">
                  <div class="form-group">
                    <label for="cref">Client Reference</label>
                    <input id="cref" type="text" class="form-control" ng-model="usr.Cl_Ref" >
                  </div>
                  <div class="form-group">
                    <label for="cname">Client / User Name</label>
                    <input id="cname" type="text" class="form-control" ng-model="usr.name" required>
                  </div>
                  <div class="form-group">
                    <label for="cmail">Client / User Email <small>(This would be user login ID)</small></label>
                    <input id="cmail" type="email" class="form-control" ng-model="usr.email" required>
                  </div>
              </div> -->
            </div>
            <div class="modal-footer pull-right">
                <button class="btn btn-primary" type="button" ng-click="DwPdf()" data-dismiss="modal">Download</button>
                <button class="btn btn-danger" type="button" ng-click="ClsModal()" data-dismiss="modal">Cancel</button>
            </div>
        <!-- </form> -->
  </div>
    

  </div>


<!-- <div ng-controller="ModalDemoCtrl"> -->
<!-- <div>
 <script style="width: 1000px;" type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">
            Hi
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Download</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div> -->
<!-- </div> -->
</<div>