/**
 * adapt-strap
 * @version v2.0.8 - 2014-12-15
 * @link https://github.com/Adaptv/adapt-strap
 * @author Kashyap Patel (kashyap@adap.tv)
 * @license MIT License, http://www.opensource.org/licenses/MIT
 */
/* Style: modules.css*/
.ad-display-inline-block {
  display: inline-block;
}
.ad-margin-none {
  margin: 0;
}
.ad-margin-top-none {
  margin-top: 0;
}
.ad-margin-left-none {
  margin-left: 0;
}
.ad-margin-bottom-none {
  margin-bottom: 0;
}
.ad-margin-right-none {
  margin-right: 0;
}
.ad-padding-none {
  padding: 0;
}
.ad-padding-top-none {
  padding-top: 0;
}
.ad-padding-left-none {
  padding-left: 0;
}
.ad-padding-bottom-none {
  padding-bottom: 0;
}
.ad-padding-right-none {
  padding-right: 0;
}
.ad-cursor-pointer {
  cursor: pointer;
}
.ad-user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ad-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ad-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
[ad-drag=true].ad-draggable {
  cursor: move;
}
[ad-drag=true] > .ad-drag-handle {
  cursor: move;
}
[ad-drag=true].ad-dragging {
  opacity: 0.5;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* Class styling
------------------------------------------------- */
.ad-tree-browser-container {
  width: 100%;
  margin-left: 0;
  overflow: hidden;
  background-color: transparent;
}
.ad-tree-browser-container .tree-view {
  width: 100%;
  height: auto;
}
.ad-tree-browser-container .tree-view .tree {
  display: inline-block;
  vertical-align: middle;
  min-width: 100%;
  min-height: 100%;
}
.ad-tree-browser-container .tree-view .tree .tree-level {
  margin: 0;
  padding: 0;
  min-width: 100%;
}
.ad-tree-browser-container .tree-view .tree .tree-header-level:first-child {
  text-align: center;
  font-weight: bold;
  background-color: #f9f9f9;
}
.ad-tree-browser-container .tree-view .tree .content {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.ad-tree-browser-container .tree-view .tree .content .content-holder {
  display: table;
  min-width: 100%;
}
.ad-tree-browser-container .tree-view .tree .content .toggle {
  cursor: pointer;
  width: 20px;
  display: table-cell;
  vertical-align: middle;
}
.ad-tree-browser-container .tree-view .tree .content .node-content {
  display: table-cell;
  vertical-align: middle;
}
.ad-tree-browser-container .tree-view .tree .content:hover {
  background: #f5f5f5;
}
.ad-tree-browser-container.tree-bordered {
  border: 1px solid #dddddd;
}
.ad-tree-browser-container.tree-bordered .tree-level {
  border-top: 1px solid #dddddd;
}
.ad-tree-browser-container.tree-bordered .tree-top-level {
  border-top: none;
}
.ad-tree-browser-container.tree-bordered .tree-top-level ~ .tree-top-level {
  border-top: 1px solid #dddddd;
}
.ad-tree-browser-container.tree-bordered .tree-header-level:first-child {
  border-top: none;
  border-bottom: 1px solid #dddddd;
}
.ad-tree-browser-container.tree-bordered .tree-sub-level:last-child {
  border-bottom: none;
}
.ad-table-lite-container .ad-select-cell {
  text-align: center;
  width: 35px;
}
.ad-table-lite-container .ad-sticky-table {
  margin-bottom: 0;
}
.ad-table-lite-container .ad-table-container {
  overflow-x: auto;
  margin-bottom: 20px;
}
.ad-table-lite-container .ad-table-container > table {
  margin-bottom: 0;
}
.ad-table-ajax-container .ad-sticky-table {
  margin-bottom: 0;
}
.ad-table-ajax-container .ad-table-container {
  position: relative;
  overflow-x: auto;
  margin-bottom: 20px;
}
.ad-table-ajax-container .ad-table-container > table {
  margin-bottom: 0;
}
.ad-loading-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
}
.ad-loading-overlay-container .wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.ad-loading-overlay-container .wrapper .loading-indicator {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.ad-infinite-list-container .dropdown-menu {
  overflow: auto;
}
.ad-infinite-list-container .dropdown-menu li a[role="menuitem"] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
